/*FUENTES*/

@import url(./normalize.css);
@import url(mobile.css);
@import url(tablet.css);
@import url(desktop.css);

/* @import url('https://fonts.cdnfonts.com/css/sansilk');
font-family: 'Sansilk', sans-serif;
@import url('https://fonts.cdnfonts.com/css/astrantia');
font-family: 'Astrantia', sans-serif; */
                                                                                                
:root{

}

*{
    list-style: none;
    text-decoration: none;
}