<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="andina, cerveza, cerveza rubia, cerveza roja, cerveza negra, alcohol, malta, gustito,">
    <meta name="description" content="Elaboramos cerveza con agua de deshielo de la cordillera y pura malta tostada a fuego lento, que ofrece colores y texturas bien distintivas. Hay una rubia, una roja y una negra. Sabor a malta, leve aroma a lupulo y a cereal, cuerpo medio, refrescante.">
    <meta name="author" content="Daniela Sánchez">    
    <link rel="shortcut icon" href="../assets/img/lata-de-cerveza.ico" type="image/x-icon">
    <link rel="stylesheet" href="../css/style.css">
    <title>Andina Origen - Tome menos y mejor </title>
</head>
<body>
    <header class="hero_comprar">
        
        <nav id="menu">

            <h1>
                <a href="./index.html" class="logo"> <img src="../assets/img/logo.negro.png" alt="logo andina" loading="lazy"></a>
            </h1>
            
            <div class="icon_menu">
                <a href="#menu" class="open"><i class="fa-solid fa-bars" style="color: #000000;"></i></a>
                <a href="#" class="close"><i class="fa-solid fa-xmark" style="color: #000000;"></i></a>
            </div>
            <ul class="links_menu">
                <li> <a href="./rubia.html">Rubia </a> </li>
                <li> <a href="./roja.html">Roja </a> </li>
                <li> <a href="./negra.html">Negra </a> </li>
                <li> <a href="./comprar.html">Comprar </a> </li>
            </ul>
            
        </nav>                  
        
    </header>

    <main class="comprar">
        <div class="container_formulario">    
            <form class="formulario">
                <div class="formulario_items">
                    <label for="nombre">Nombre completo</label>
                    <input type="text" placeholder="Ingresa tu nombre completo" id="nombre">
                </div>
                <div class="formulario_items">
                    <label for="edad">Edad</label>
                    <input type="text" placeholder="Ingresa tu edad" id="edad">
                </div>
                <div class="formulario_items">
                    <label for="telefono">Teléfono de contacto</label>
                    <input type="text" placeholder="Ingresa tu número de teléfono" id="telefono">
                </div>
                <div class="formulario_items">
                    <label for="pedido">Ingresa tu pedido</label>
                    <textarea name="textarea" id="pedido" cols="25" rows="5" style="resize: none;"></textarea>
                    
                </div>
                <input type="submit" value="Comprar" class="btn">
            </form>
        </div>

    </main>

    <footer class="container_footer">

        <div class="subcontainer_footer" >
            <figure>
                <img src="../assets/img/logo.png" class="logo_footer" loading="lazy" alt="logo">
            </figure>

            <ul class="social_footer">
                <li> <a href="https://www.instagram.com/andesorigen/" target="_blank"> <i class="fa-brands fa-instagram" ></i> </a> </li>
                <li> <a href="https://www.facebook.com/andesorigenOK" target="_blank"> <i class="fa-brands fa-facebook-f"></i> </a> </li>
                <li> <a href="https://www.youtube.com/c/AndesOrigen" target="_blank"><i class="fa-brands fa-youtube"></i> </a></li>
                <li> <a href="mailto:andesorigenok@gmail.com" target="_blank"></a><i class="fa-regular fa-envelope"></i> </li>
            </ul>      
        
            <ul class="legales">
                <li> <a href="#">Términos y Condiciones</a></li>
                <li> <a href="#">Políticas de Privacidad</a></li>
                <li> <a href="#">Consumo responsable</a></li>
                <li> <a href="#">Información Oficial de la Compañía</a></li>
            </ul>
        </div>
        <p>Beber con moderación. Prohibida su venta a menores de 18 años. No compartir este contenido con menores.</p>
        <p class="firma">&copy; Andina. Todos los derechos reservados 2024</p>
    </footer>

    <script src="https://kit.fontawesome.com/287a092c3d.js" crossorigin="anonymous"></script>
    
</body>
</html>